<header>
  <div class="header_title">
    <%= link_to "BabyLog", root_path, class: "header_title" %>
  </div>

  <ul class="user_info">
      <li><%= link_to "新規登録", new_user_registration_path, class: "log_out" %></li>
  </ul>
</header>

<h2>ログイン</h2>

<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>

  <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mail_field" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "password_field"%>
  </div>


  <div class="actions">
    <%= f.submit "ログイン", class: "login_submit" %>
  </div>
<% end %>

<div class="back">
  <%= link_to "＜戻る", root_path, class: "back"%>
</div>