<%= render "shared/header" %>

<%= link_to "ルームを作成する", new_room_path %>

<div>
  <%current_user.rooms.each do |room|%>
    <%= link_to room_posts_path(room.id) do%>
      <%=room.babyname%>
      <div>
        <%if room.image.attached?%>
          <%= image_tag room.image.variant(resize: '100x100')%>
        <%end%>
      </div>
    <%end%>
  <%end%>
  
</div>