<%= render "shared/header" %>
<div>
  <%= link_to "ルームを作成する", new_room_path %>
</div>
<%if user_signed_in?%>
  <div>
    <%current_user.rooms.each do |room|%>
      <%= link_to room_posts_path(room.id) do%>
        <div class="room">
          <%=room.babyname%>
          <%if room.image.attached?%>
            <div>
              <%= image_tag room.image.variant(resize: '100x100')%>
            </div>
          <%end%>
        </div>
      <%end%>
    <%end%>
  </div>
<%end%>