<%= render "shared/header" %>

<div class="post_index">
  <div class="post">
    <%= link_to "写真を投稿する", new_room_post_path, class: "post_btn" %>
  </div>

  <div class="room_member">
  ルームメンバー：
    <% @room_users.each do |room_user| %>
        <%= User.find(room_user.user_id).nickname %>さん
    <% end %>
    
  </div>

  <%= form_with model: @post, url: search_room_posts_path(@room), method: :get, id: "search_form", local: true do |f| %>
    <div class="search_field">
      <div class="date">
        <p>日付を選択</p>
        <%= f.select :shooting_date, @shooting_dates.uniq, include_blank: "--", class: "shooting_dates"%>
      </div>
      <div>
        <p>イベントを選択</p>
        <%= f.collection_select(:event_id, @event, :id, :name, {})%>
      </div>
    </div>
  <% end %>
  <button id="all_show_btn">全て表示</button>

  <P class="album" id="album"> <%= @room.babyname %>のアルバム </p>

  <%@posts.each do |post|%>
    <%if @room.id == post.room_id%>
      <div class="post-images <%=post.shooting_date%> <%=post.event_id%>" shooting-date=<%= post.shooting_date%> id=<%= post.id%>>
        <%= link_to room_post_path(@room.id, post.id) do%>
          <%=image_tag post.image.variant(resize: '300x200'),class: "image"%>
        <% end %>
      </div>
    <% end %> 
  <%end%> 
  <% if current_user.id == @room.user_id%>
    <div class="room_delete">
      <%= link_to "このアルバムを削除する", room_path(@room), method: :delete, class: "room_delete" %>
    </div>
  <%end%>
</div>
<div class="back">
  <%= link_to "＜戻る", root_path, class: "back"%>
</div>
