<%= render "shared/header" %>

<div>
  <%= link_to "写真を投稿する", new_room_post_path %>
</div>

<% if current_user.id == @room.user_id%>
  <div>
    <%= link_to "このルームを削除する", room_path(@room), method: :delete %>
  </div>
<%end%>

<div>
 <% @room_users.each do |room_user| %>
      <%= User.find(room_user.user_id).nickname %>
   <% end %>
</div>

<P> <%= @room.babyname %>のアルバム </p>

<%@posts.each do |post|%>
  <%# <%= link_to room_posts_path(room.id) do%> 
  <%if @room.id == post.room_id%>
    <div class="post-images">
      <%= link_to room_post_path(@room.id, post.id) do%>
        <%=image_tag post.image.variant(resize: '300x300')%>
      <% end %>
    </div>
   <% end %> 
<%end%>