<%= render "shared/header" %>

<div class="post_show">
  <%= image_tag @post.image.variant(resize: '350x350') %>

<div class="shooting_date">
  <%= @post.shooting_date%>
</div>


  <div>
    <% if user_signed_in? %>
          <%= form_with(model: [@room, @post, @comment], local: true) do |f| %>
            <%= f.text_area :text, placeholder: "感想", rows: "3", class: "comment_area" %><br>
            <%= f.submit "コメントする", class: "comment_btn" %>
          <% end %>
    <% else %>
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>

  <div>
    <% @comments.each do |comment| %>
      <p class="comment_text">
        <strong class="comment_user"><%= comment.user.nickname %>：</strong>
        <%= comment.text %>
      </p>
    <% end %>
  </div>
  <div class="post_delete">
    <% if current_user.id == @post.user_id %>
      <%= link_to "投稿を削除する", room_post_path(@room, @post), method: :delete %>
    <% end %>
  </div>
</div>


<div class="back">
  <%= link_to "＜戻る", root_path, class: "back"%>
</div>